@font-face {
    font-family: 'andbasr';
    src:
        url(./andbasr-webfont.woff2) format('woff2'),
        url(./andbasr-webfont.woff) format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'dalekpinpoint';
    src:
        url(./dalekpinpointbold-webfont.woff2) format('woff2'),
        url(./dalekpinpointbold-webfont.woff) format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'romanica';
    src:
        url(./romanica-webfont.woff2) format('woff2'),
        url(./romanica-webfont.woff) format('woff');
        font-weight: normal;
        font-style: normal;
}
/* Colour Palette
White           #FFFFFF 
Cosmic Latte    #FFF8E8
Gold            #FFD700 / Jasmine       #FCD581
Oxford Blue     #001F3F
Claret          #990D35
*/
/* General style and selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

p {
    font-family: 'andbasr';
}
/* Header style and selectors */
.header {
    grid-column: 2 / 3;
    padding: 15px 30px 20px 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.header > div:nth-of-type(1) > form {
    display: flex;
    align-items: center;
}

.header > div:nth-of-type(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header > div:nth-of-type(2) > img:first-of-type {
    width: 30px;
}

.header > div:nth-of-type(2) > p {
align-self: stretch;}

.header > div:nth-of-type(4) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    column-gap: 25px;
}

input[type="search"] {
    width: 80%;
    height: 32px;
    margin-bottom: 4px;
    font: 1.1em 'andbasr';
    background-color: #FFF8E8;
    border-radius: 5px;
    border: 1px solid  #e6e6e6;    ;
    outline: none;
}

input:focus {
    border: 1px solid #001F3F;
}

input:invalid {
    border: 1px solid #dc3848
}

div > img + p,
.header > div > div > p:first-of-type,
.header > div > div > p:last-of-type {
    font-weight: bold;
    word-spacing: 1px;
}

div > img + p {
    font-size: 1.1em;
    padding-right: 15px;
}

.header > div > div > p:first-of-type {
    font-size: .9em;
}

.header > div > div > p:last-of-type {
    font-size: 1.4em;
}

button {
    padding: 5px 20px 10px 20px;
    flex: 1;
    max-width: 110px;
    min-width: 90px;
    font: bold 1em 'andbasr';
    color: #000000;
    background-color: #FCD581;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
/* Sidebar style and selectors */
.sidebar {
    grid-row: 1/ 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #990D35;
    padding: .3rem 1rem;
}

.sidebar-nav > h2 {
    font: bold 1.9rem 'dalekpinpoint';
}

.sidebar-nav > p {
    font: 1.1rem 'dalekpinpoint';
    padding: .8rem 0;
}

.sidebar-nav > h2,
.sidebar-nav > p:nth-of-type(6) {
    padding-bottom: 40px;
}
/* Main content style and selectors */
.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: #FFFFFF;
}

.projects {
    grid-row: 1 / 3;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5rem;
}

.cards {
    padding: 25px;
    height: 200px;
    border-left: 7px solid #FFD700;
    border-radius: 4px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    color: #999999;
    background-color: #FFFFFF;
}

.projects-box > div > h4 + p {
    font-size: .9rem;
}

h3 {
    font-family: 'romanica';
    letter-spacing: .6px;
}

h4 {
    font: bold 1.1rem 'andbasr';
    color: #000000;
}

.projects,
.announcements,
.trending {
    padding: 20px;
}

.news {
    justify-self: center;
}

.announcements {
    padding-bottom: 0;
}

.projects h3, .announcements h3, .trending h3 {
    padding-bottom: 15px;
    font-size: 1.4rem;
}

.announcements-card {
    padding: 5px 30px;
    width: 300px;
    height: 350px;
    border-radius: 4px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    color: #999999;
    background-color: #FFFFFF;
}

.announcements-card > div > h4 {
    font-size: .9rem;
    padding-top: 15px;
}

.announcements-card > div > h4 + p {
    font-size: .8rem;
    border-bottom: 1px solid #999999;
    padding-bottom: 15px;
}

.announcements-card > div > h4 + p:last-of-type {
    border-bottom: none;
}

.trending-card {
    padding: 5px 30px;
    width: 300px;
    height: 350px;
    border-radius: 4px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    color: #999999;
    background-color: #FFFFFF;
    font-size: .9rem;
}

.trending-card > div > img + p {
    color: #000000;
    font-size: .9rem;
}
/* Images and Icons style and selectors */
.icons {
    width: 35px;
    height: auto;
    
}